.form-container {
    margin: 100px auto;
    width: 1000px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 10px;
    min-height: 650px;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .close-btn {
    position: absolute;
    top: 2%;
    right: 3%;
    font-size: 1.5rem;
    z-index: 1;
    color: #fff;
    cursor: pointer;  
  }

  .close-btn a {
  text-decoration: none;
  color: #27cdff;
  }
  
  @media (max-width: 767px) {
    .form-content-left {
        display:none;
    }
    .form-content-right {
      border-radius: 10px 10px 10px 10px;
      margin-left: 10%;
    }
  }
  .form-content-left {
    background: linear-gradient(
      90deg,
      #4FC3A1 0%,
       rgb(40, 40, 40)   100%
    );
    border-radius: 10px 0 0 10px;
    position: relative;
    
  }
  
  
  .form-img {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .form-img-2 {
    width: 60%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .form-success {
    text-align: center;
    font-size: 24px;
    margin-top: 80px;
    color: #fff;
  }
  
  .form-content-right {
    border-radius: 0 10px 10px 0;
    position: relative;
    background: linear-gradient(90deg, rgb(40, 40, 40) 0%, rgb(17, 17, 17) 100%);
  }
  
  .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .form h1 {
    font-size: 1rem;
    text-align: start;
    width: 80%;
    margin-bottom: 1rem;
    color: #fff;
  }
  
  .form-inputs {
    margin-bottom: 0.5rem;
    width: 80%;
  }
  
  .form-inputs p {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: #f00e0e;
  }
  
  .form-label {
    display: inline-block;
    font-size: 0.8rem;
    margin-bottom: 6px;
    color: #fff;
  }
  
  .form-input {
    display: block;
    padding-left: 10px;
    outline: none;
    border-radius: 2px;
    height: 40px;
    width: 100%;
    border: none;
  }

  .form-input-batch {
    padding-left: 10px;
    outline: none;
    border-radius: 2px;
    height: 40px;
    width: 30%;
    border: none;
    margin-right: 5px;
  }

  .form-input-id {
    padding-left: 10px;
    outline: none;
    border-radius: 2px;
    height: 40px;
    width: 50%;
    border: none;
    margin-left: 5px
  }

  .form-input-rollNo{
    display: none;
  }

  fieldset{
    border: none;
  }
  
  .campus {
    display: inline;
    color: white;
  }

  .form-input::placeholder {
    color: #595959;
    font-size: 12px;
  }
  
  .form-input-btn {
    width: 80%;
    height: 50px;
    margin-top: 10px;
    border-radius: 2px;
    background:#4FC3A1 ;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
  }
  
  .form-input-btn:hover {
    cursor: pointer;
    background: linear-gradient(
      90deg,
      rgb(39, 143, 255) 0%,
      rgb(12, 99, 250) 100%
    );
    transition: all 0.4s ease-out;
  }
  
  .form-input-login {
    font-size: 0.8rem;
    margin-top: 10px;
    color: #fff;
    width: 80%;
    text-align: center;
  }
  
  .form-input-login a {
    text-decoration: none;
    color: #4FC3A1 ;
    font-weight: 600;
  }
  .headings {
    padding-left: 6%;
    font-size: 1.5rem;
    font-weight: bold;
    color: #4FC3A1;
    margin-top: 0%;
    padding-top: 3%;
}
.side{
  height:100%;
  width: 100%;
  padding-left: 19%;
  margin: 0;  
}









  /*Table CSS*/

  .table-wrapper{
    position: flex;
    margin: 10px 20px 20px ;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
} 
  .fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
    table-layout: fixed;
}



.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
    width: 150px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
    
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}

tbody {
    column-width: 20%;
}

.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
  .fl-table {
      display: block;
      width: 100%;
  }
  .table-wrapper:before{
      content: "Scroll horizontally >";
      display: block;
      text-align: right;
      font-size: 11px;
      color: white;
      padding: 0 0 10px;
  }
  .fl-table thead, .fl-table tbody, .fl-table thead th {
      display: block;
  }
  .fl-table thead th:last-child{
      border-bottom: none;
  }
  .fl-table thead {
      float: left;
  }
  .fl-table tbody {
      width: auto;
      position: relative;
      overflow-x: auto;
  }
  .fl-table td, .fl-table th {
      padding: 20px .625em .625em .625em;
      height: 60px;
      vertical-align: middle;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: auto;
      width: 120px;
      font-size: 13px;
      text-overflow: ellipsis;
  }
  .fl-table thead th {
      text-align: left;
      border-bottom: 1px solid #f7f7f9;
  }
  .fl-table tbody tr {
      display: table-cell;
  }
  .fl-table tbody tr:nth-child(odd) {
      background: none;
  }
  .fl-table tr:nth-child(even) {
      background: transparent;
  }
  .fl-table tr td:nth-child(odd) {
      background: #F8F8F8;
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tr td:nth-child(even) {
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tbody td {
      display: block;
      text-align: center;
  }
}

.deleteButton  , .editButton{
 
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 11px;
  font-weight: 800;
  line-height: 2px;
  min-height: 20px;
  outline: 0;
  padding: 12px 14px 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  margin: 2px 2px;
}

.editButton{
  background: #4FC3A1;
  border: 1px solid #4FC3A1;
}
  
.deleteButton:hover, .deleteButton:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.editButton:hover {
  background-color: initial;
  background-position: 0 0;
  color: #4FC3A1
}
  
.deleteButton:active , .editButton:active{
  opacity: .5;
}
