.parkinglot{
    border-radius: 10px;
    height : 500px;
    width  : 350px;     /*width/box=60 ; 60*4=240 + 2( 100(padding) ) = 440*/
    margin-left: 5%;
    position: absolute;
    background-color: #D3D3D3;
}

a{
    text-decoration: none;
    color: inherit;
}

.float-end{
    margin-left: 50%;
    padding-right: 12%;
    border-radius: 20px 20px 20px 20px;
}

.f2-table {
    border-radius: 51px;
    font-size: 12px;
    font-weight: normal;
    border-collapse: collapse;
    width: 120%;
    max-width: 100%;
    background-color: white;
    table-layout: fixed;
}

.f2-table td, .f2-table th {
    text-align: center;
    padding: 8px;
    width: 150px;
}

.f2-table td {
    font-size: 12px;
    
}

.f2-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}

tbody {
    column-width: 20%;
}

.f2-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.f2-table tr:nth-child(even) {
    background: #F8F8F8;
}

.row{
    padding-left: 100px;
    padding-right: 100px;
    height: 100px;
}

.column-left , .column-right{
    height: 500px;
    width:100px;
    position: absolute;
}

.column-right{
    float: right;
    position: relative;
    margin-right: -10px;
}

.door {
    height: 10px;
    width: 150px;
    margin-left: 110px;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius:10px;
    display: inline-block;
    bottom: 0;
    position: inherit;
}

.rowBookedSpot {
    background-color:  lightgreen;
    transition: transform .2s; /* Animation */
    width: 40px;
    height: 100px;
    float: left;
    color: aliceblue;
    font-size: 40px;
    text-align: center;
    line-height: 100px;
    vertical-align: center;
    border-radius: 5px;
    margin-right: 2px;
}

.rowBookedSpot:hover{
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.columnUnbookedSpot{
    background-color: lightgreen;
    transition: transform .2s; /* Animation */
    width: 110px;
    height: 50px;
    color: aliceblue;
    font-size: 30px;
    text-align: center; 
    border-radius: 5px;
}

.columnBookedSpot {
    background-color: #FF7F7F;
    transition: transform .2s; /* Animation */
    width: 110px;
    height: 50px;
    color: aliceblue;
    font-size: 30px;
    text-align: center; 
    border-radius: 5px;
}

.columninParkingSpot {
    background-color: orange;
    transition: transform .2s; /* Animation */
    width: 110px;
    height: 50px;
    color: aliceblue;
    font-size: 30px;
    text-align: center; 
    border-radius: 5px;
}

.columnBookedSpot:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }  
  .columninParkingSpot:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  .columnUnbookedSpot:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }



  .button{
      border: none;
      background-color: inherit;
  }

  .ptr {
      cursor: pointer;
  }


.bookingHeading{
    padding-left: 25%;
    font-size: 1.75rem;
    font-weight: bold;
    padding-top: 8%;
}




/*Booking Form*/

.bookingForm{
    width:300px;
    height: 500px;
    float: right;
    margin-top: 5%;
    margin-right: 15%;
}
